body{
    background-color:antiquewhite;
    font-family:'Times New Roman', Times, serif;
}

.nav-main {
    background-color:rgb(236, 229, 222);
    display: flex;
    width: 100%;
    height: -webkit-fill-available;
    margin: 0;
}

.nav-object {
    padding: 2em;
    width: 50%;
    font-size: 30px;
}

.logo {
    width: 50%;
    max-width: 170px;

}

.picture {
    width: 50%;
    max-width: 150px;
    display: block;
   
    
}

.foot {
    bottom: 0;
    background-color: black;
    color: white;
}

.project-main {
    display: flex;
}

.project1 img{
    width: 250px;
    display: flexbox;
    height: 200px;
}

.project2 img{
    width: 250px;
    display: flexbox;
    height: 200px;
}

.project3 img{
    width: 250px;
    display: flexbox;
    height: 200px;
}