<!-- views/about.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>About - My Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("partials/_header") %>
  &nbsp;
  &nbsp;
  <div class="container">
    <div class="about">
     <img src="/images/picture.jpeg" alt="Benjamin" class="picture">
     
      <p>
        I'm actively working towards my goal of becoming a full-time software engineer, and this journey has 
        provided me with a wide range of experiences in various roles, both technical and non-technical. 
        I believe this diversity is essential because, while technical skills are vital, social skills, 
        a strong work ethic, and effective communication are equally integral to achieving success as
        a developer. These non-technical skills, such as collaboration, adaptability, and clear communication, 
        enhance one's effectiveness in the field and contribute to a well-rounded skill set. I'm committed to 
        continuously developing both my technical and soft skills as I strive to become a proficient software 
        engineer. You can download my resume<a href="https://docs.google.com/document/d/1ujsitYi2PhTr4i00Y44_Cwzk11MOz6yX/edit" target="_blank" download">here</a>
        </p>
    </div>

    &nbsp;
    &nbsp;
    <div class="resume-link">
      
    </div>
  </div>
</body>
<%- include("partials/_footer") %>
</html>
