<!DOCTYPE html>
<html>
<head>
  <title>Home - My Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include("partials/_header") %>
  <div class="container">
    <div class="Content">
      <br>
      <br>
       <h1>Hi I'm Benjamin!</h1>
     <br>
      <h2>My Mission Statement:</h2>
      <p>I have a deep passion for being a nerd, and over the years, I've dedicated myself to acquiring a diverse range of skills. What truly brings me joy in 
        <br>this field is the perpetual opportunity for learning, exploration, and creation. I feel incredibly privileged to utilize my talents and expertise to
        <br> make a meaningful impact on people's lives, offering my assistance in the best way possible.</p>

      <h2> My Goals:</h2>
      <ul style="list-style-image:url('images/bullets_circle_.gif');">
        <li>Aspiring to become a full-time developer or software engineer.</li>
        <li>Aiming to join an exceptional team comprising individuals with diverse talents to collectively address 
            various challenges.</li>
        <li>Seeking an environment that fosters continuous learning and development.</li>
        <li>Striving to contribute your skills and efforts towards making the world a better place.</li>
       </ul>
    </div>
</div>
</body>
<%- include("partials/_footer") %>
</html>

