<!-- views/projects.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Projects - My Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("partials/_header") %>
  &nbsp;
  &nbsp;
   <div class="project-main">
    <div class="project1">
      <h2>Bug Smasher Game:</h2>
      <img src="/images/bugSmasher.jpg" alt="Project 1">
      <p>
        In this game, players use taps to eliminate insects, with the primary challenge being to <br>
        stop insects from getting through and to steer clear of unintended taps on bomb bugs. <br>
        Each accidental tap on a bomb bug deducts one of the player's three hearts. <br>
        </p>
    </div>
    <div>&nbsp;
      &nbsp;
      &nbsp;
      &nbsp;&nbsp;
      &nbsp;</div>
    <div class="project2">
      <h2>Account App:</h2>
      <img src="/images/accountApp.jpg" alt="Project 2">
      <p>
       Developed a graphical user interface (GUI) for an Accounts Application using the<br>
       .NET Framework, and it efficiently populates the properties of the Account. 
      </p>
    </div>
    <div class="project3">
      <h2>Inventory App:</h2>
      <img src="/images/inventoryApp.jpg" alt="Project 3">
     
      <p>
        Collaborating with a team of designers and developers, I created a responsive food inventory application for a local non-profit
        organization.
      </p>
    </div>
  </div>
</body>
<%- include("partials/_footer") %>
</html>
