<!-- views/services.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Services - My Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include("partials/_header") %>
  <div class="container">
    <div class="service">
     <h2>Web Development - Frontend</h2>
     <ul style="list-style-image:url('images/bullets_circle_.gif');">
      <li>HTML</li> 
      <li>CSS</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>Vue.js</li>
     </ul>
                 
    </div>
    <div class="service">
      
      <h2>Web Development - Backend</h2>
      <ul style="list-style-image:url('images/bullets_circle_.gif');">
       <li> Node</li> 
       <li> Express</li>
       <li> Java</li>
       <li> C#</li>
       <li> Oracle</li>
       <li> SQL</li>
       <li> MongoDB</li>
      </ul>
    </div>
    <div class="service">
      
      <h2>Programming</h2>
      <ul style="list-style-image:url('images/bullets_circle_.gif');">
        <li> Bash</li> 
        <li> Python</li>
        <li> Powershell</li>
        <li> C++</li>
        <li> PL/SQL</li>
        <li> Ruby</li>
        <li> PHP</li>
       </ul>
    </div>
  </div>
</body>
<%- include("partials/_footer") %>
</html>
